name: Re-spin Containers

on:
  workflow_dispatch:

concurrency: rel-${{ github.ref }}

jobs:

  env:
    uses: ./.github/workflows/x-env.yml
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  respin-number:
    runs-on: ubuntu-latest
    needs: [env]
    outputs:
      respin: ${{ env.respin }}
    steps:
      - id: get-respin
        run: |
          VERSION="${{ inputs.version }}"
          RESPIN=0
          VERSIONS=(`curl -L -s 'https://hub.docker.com/v2/repositories/${{ needs.env.outputs.docker-org }}/keycloak/tags/?page_size=100' | jq -r .results[].name`)
        
          echo "Versions: ${VERSIONS[*]}"
          
          while [[ " ${VERSIONS[@]} " =~ "$VERSION-$RESPIN" ]]; do
          echo "* $VERSION-$RESPIN exists"
          RESPIN=$((RESPIN+1))
          done
          
          echo ""
          echo "Using: $VERSION-$RESPIN"
          echo "respin=$RESPIN" >> $GITHUB_ENV

  show-inputs:
    runs-on: ubuntu-latest
    needs: [respin-number]
    steps:
      - run: |
          echo "Version: ${{ needs.env.outputs.last_version }}  " >> $GITHUB_STEP_SUMMARY
          echo "Previous version: ${{ needs.env.outputs.previous-version }}  " >> $GITHUB_STEP_SUMMARY
          echo "Respin: ${{ needs.respin-number.outputs.respin }}" >> $GITHUB_STEP_SUMMARY

  keycloak-container:
    name: Keycloak Container
    uses: ./.github/workflows/x-keycloak-container.yml
    needs: [env, respin-number]
    with:
      gh-org: ${{ needs.env.outputs.gh-org }}
      keycloak-rel-org: ${{ needs.env.outputs.keycloak-rel-org }}
      quay-org: ${{ needs.env.outputs.quay-org }}
      docker-org: ${{ needs.env.outputs.docker-org }}
      version: ${{ needs.env.outputs.last_version }}
      tag: ${{ needs.env.outputs.last_version }}
      respin: ${{ needs.respin-number.outputs.respin }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}

  keycloak-operator:
    name: Keycloak Operator
    uses: ./.github/workflows/x-keycloak-operator.yml
    needs: [env, respin-number]
    with:
      gh-org: ${{ needs.env.outputs.gh-org }}
      quay-org: ${{ needs.env.outputs.quay-org }}
      docker-org: ${{ needs.env.outputs.docker-org }}
      version: ${{ needs.env.outputs.last_version }}
      previous-version: ${{ needs.env.outputs.previous-version }}
      tag: ${{ needs.env.outputs.last_version }}
      respin: ${{ needs.respin-number.outputs.respin }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
