name: X Environment setup

on:
  workflow_call:
    outputs:
      last-version:
        description: "Most recent release"
        value: ${{ jobs.env.outputs.last-version }}
      previous-version:
        description: "Previous release"
        value: ${{ jobs.env.outputs.previous-version }}
      gh-org:
        description: "GitHub Organization"
        value: ${{ jobs.env.outputs.gh-org }}
      keycloak-rel-org:
        description: "GitHub Organization for keycloak-rel repository"
        value: ${{ jobs.env.outputs.keycloak-rel-org }}
      mvn-deploy-options:
        description: "Maven Deploy Options"
        value: ${{ jobs.env.outputs.mvn-deploy-options }}
      quay-org:
        description: "Quay Organization"
        value: ${{ jobs.env.outputs.quay-org }}
      docker-org:
        description: "Docker Organization"
        value: ${{ jobs.env.outputs.docker-org }}
      community-operators-org:
        description: "Community operators organization name"
        value: ${{ jobs.env.outputs.community-operators-org }}
      prod-operators-org:
        description: "Product operators organization name"
        value: ${{ jobs.env.outputs.prod-operators-org }}
      release-bot-email:
        description: "Release Bot email"
        value: ${{ jobs.env.outputs.release-bot-email }}
      release-bot-name:
        description: "Release Bot name"
        value: ${{ jobs.env.outputs.release-bot-name }}
    secrets:
      GH_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  env:
    runs-on: ubuntu-latest
    outputs:
      gh-org: ${{ env.gh-org }}
      keycloak-rel-org: ${{ env.keycloak-rel-org }}
      mvn-deploy-options: ${{ env.mvn-deploy-options }}
      quay-org: ${{ env.quay-org }}
      docker-org: ${{ env.docker-org }}
      community-operators-org: ${{ env.community-operators-org }}
      prod-operators-org: ${{ env.prod-operators-org }}
      release-bot-email: ${{ env.release-bot-email }}
      release-bot-name: ${{ env.release-bot-name }}
      last-version: ${{ env.last-version }}
      previous-version: ${{ env.previous-version }}
      next-version: ${{ env.next-version }}
      branch: ${{ env.branch }}
      stream: ${{ env.stream }}
    steps:
      - uses: actions/checkout@v3
      - id: load-env
        run: |
          cat .github/env/${{ github.repository_owner }} | sed -r '/^\s*$/d' >> $GITHUB_ENV
      - id: versions
        run: |
          branch=${{ github.ref_name }}
          stream="$( echo "$branch" | cut -d '/' -f 2 )"
          
          LAST_TWO_VERSIONS=($(gh release -R ${{ env.gh-org }}/keycloak list --json tagName | jq -r '.[].tagName' | grep -v "nightly" | sort -V -r | head -n 2))
          
          last_version="${LAST_TWO_VERSIONS[0]}"
          previous_version="${LAST_TWO_VERSIONS[1]}"
          
          if [[ "$last_version" == "$stream"* ]]; then
            last_micro=$(echo $last_version | cut -d '.' -f 3)
            next_micro=$((last_micro++))
            next_version="$stream"
          else
            next_version="$stream.0"
          fi
          
          echo "branch=$branch"
          echo "stream=$stream"
          echo "last-version=$last_version"
          echo "next-version=$next_version"
          echo "previous-version=$previous_version"
          
          echo "branch=$branch" >> $GITHUB_ENV
          echo "stream=$stream" >> $GITHUB_ENV
          echo "last-version=$last_version" >> $GITHUB_ENV
          echo "next-version=$next_version" >> $GITHUB_ENV
          echo "previous-version=$previous_version" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
